.navbar{
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 20px;
  box-sizing: border-box;
  flex-direction: row;
} 

.navbar img{
  width: 80px;
  height: 80px;
}

.navbar__link{
  list-style: none;
  padding: 0 40px;
}

.navbar__link a{
  text-decoration: none;
  margin: 27.5px 0 30.5px 0;
  padding: 0 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}

.main .content{
  background: #ededed;
  position: relative;
  margin: 0 170px 100px 170px;
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
  width: fit-content;
  box-sizing: border-box;
}

.return-policy{
  margin-bottom: 33.5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #000000; 
}

.menu .return-policy-intro{ 
  margin: 0 50px 162px 9.3px;  
  padding: 0 40px;
}

.return-policy-intro p{ 
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.content h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.content .text{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}

.info{  
  margin-top: 40px; 
  justify-content: center;
  text-align: center;
}

.info .text{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

ul li{
  padding: 11px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
}

.cautious h3{
  color: red;
  font-style: italic;
  font-weight: 900;
}

