body{
    margin: 0;
    overflow-x: hidden;
}

.main .content {
    background: #ededed;
    position: relative;
    margin: 50px 170px 100px 170px;
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
    width: fit-content;
    box-sizing: border-box;
}

.about-us-title {
    margin-bottom: 33.5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #000000;
    text-decoration: underline;
}

.story{
    display: flex;
}

.story-left{
    margin-right: 80px;
}

.story-right img{   
    width: 300px;
    height: 400px;
}

.vision-mission{
    display: flex;
    justify-content: space-around;
}

.vision-mission p{
    margin: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.vision-mission h1{
    margin: 10px 20px; 
    font-family: 'Inter', sans-serif;
}
.vision{
    margin-right: 70px;
}

.mission{
    margin-left: 70px;
}

.core-value-top{
    display: flex;
    justify-content: center;
}

.core-value-top p{
    margin: 0 70px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.core-value-top h3{
    margin: 0 70px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.core-value-top img{
    align-items: center;
    margin: 0 110px;
}
.core-value-bottom{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.core-value-bottom p{
    margin: 0 150px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.core-value-bottom h3{
    margin: 0 70px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.core-value-bottom img{
    align-items: center;
    margin: 0 200px;
}


.core-value-bottom{
    display: flex;
    justify-content: center;
}

.content .text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.method {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.general-info{
    display: flex;
    margin-bottom: 70px;
}

.general-left{
    margin-right: 30px;
}

.general-left p{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.general-info ul li {
    padding: 11px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.footer {
    background-color: black;
    color: #fefefe;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-content-info {
    padding-left: 100px;
}

.info-img {
    margin-left: 60px;
}

.footer-content-info img {
    width: 80px;
    height: 80px;
}

.info-text p {
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.customer-service {
    padding-top: 30px;
    padding-left: 400px;
}

.customer-service-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.footer .footer-content a {
    text-decoration: none;
    color: #fefefe;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.policy {
    padding-top: 30px;
    padding-right: 100px;
}

.policy-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}