@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

.footer {
    background-color: black;
    color: #fefefe;
    position: relative;
    width: 100%;
    bottom: 0;
}

.info{
    padding-left: 100px;
}

info-img{
    margin-left: 60px;
}

.info img{
    width: 80px;
    height: 80px;
}

.info-text p{
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; 
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.customer-service{   
    padding-top: 30px;
    padding-left: 400px;
}

.customer-service-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.footer .footer-content a {
    text-decoration: none;
    color: #fefefe;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;  
}

.policy{
    padding-top: 30px;
    padding-right: 100px;
}

.policy-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.collection {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    /*background-size: cover;*/
/*    background-position: center;
    background-repeat: no-repeat;*/
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.collection-name {
    font-size: 2em;
    color: #151542;
    margin-bottom: 10px;
    font-family: 'Inter';
}

.collection-description {
    font-size: 1.2em;
    color: #777;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    transition: 0.3s;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: calc(25% - 20px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    /*padding-top: 15px;*/
}

.product-list :hover{
    transition: 0.3s;
    transform: scale(1.01);
}

.product-item img {
    /*width: 90%;*/
    width: 100%;
    height: auto;
}

.product-item img:hover{
    transform: none;
}

.product-name {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
}

.product-name:hover{
    transform: none;
}

.product-description:hover{
    transform: none;
}

.product-description {
    font-size: 1em;
    color: #666;
    padding: 0 10px 20px;
}

.product-link{
    text-decoration: none;
}

.product-link:hover {
    text-decoration: none;
}
