.input-box.success input {
    border-color: green;
}

.input-box.error input {
    border-color: red;
}

.input-box .error {
    position: relative;
    color: red;
    font-size: 14px;
    height: 13px;
    font-weight: 700;
}


.password-input-container {
    position: relative;
}

.eye_edit {
    position: absolute;
    right: 94px;
    top: 68%;
    transform: translateY(-50%);
    cursor: pointer;
}