@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.menu {
    background: #fff;
    text-align: center;
    align-items: center;
    position: relative; /* Ensure .menu is positioned relatively */
}

.navbar {
    display: flex;
    justify-content: space-around; /* Use space-around to distribute space */
    background-color: white;
    padding: 10px 0;
    margin: 0;
    max-width: 100%;
    list-style: none;
    align-items: center; /* Center items vertically */
    position: relative; /* Ensure .navbar is positioned relatively */
}

.navbar__link {
    padding: 0 20px; /* Adjust padding to control spacing */
    list-style: none;
}

.navbar__link a {
    text-decoration: none  !important;
    margin: 27.5px 0 30.5px 0 !important;
    display: inline-block !important;
    overflow-wrap: break-word !important;
    font-family: 'Inter' !important;
    font-weight: 600 !important;
    font-size: 20px  !important;
    color: #000000 !important;
}

.navbar img {
    width: 80px;
    height: 80px;
}

.menu ul {
    display: flex;
    justify-content: space-around; /* Ensure space-around on the menu */
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu ul li {
    padding: 0 20px; /* Adjust padding to control spacing */
    margin: 0;
    display: flex;
    align-items: center;
    position: relative; /* Ensure li is positioned relatively */
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.menu ul li:hover {
    background: #efefef;
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
    position: absolute;
    top: 100%; /* Position below the li */
    left: 0;
    background: #d9d9d9;
    z-index: 10; /* Ensure submenu is on top */
}

.menu ul li:hover .sub-menu-1 {
    display: block;
}

.menu ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li:hover .sub-menu-1 ul li {
    width: 300px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none; 
}

.menu ul li:hover .sub-menu-1 ul li a:hover {
    color: #757575;
}