
.pagination-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.pagination-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
}

.page-number-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    border-radius: 20px;

}

.page-number-button:hover {
    background-color: #ddd;
    border-radius: 20px;

}

.page-number-button.active {
    background-color: #151542;
    color: white;
    border-radius: 20px;
}

button:disabled{
    color: black;
}

.page-number.active {
    background-color: #666; /* Adjust active page background color as needed */
    color: #fff; /* Adjust active page text color as needed */
}

.page-number:hover {
    background-color: #ddd; /* Adjust hover background color as needed */
}

.page-number {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border-radius: 20px;

}

.pagination-button i {
    color: #333; /* Adjust icon color as needed */
}

#pageNumbers {
    display: flex;
    margin: 0 10px;
    font-size: 1em; /* Adjust size as needed */
    color: #333; /* Adjust text color as needed */
    margin: 0 5px;
    padding: 5px 10px;
}