* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #fff;
}

.post-title h1{
    font-size: 50px;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin: 50px 300px 0 300px;
}

.small-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.intro-details p{
    padding: 5px 0;
    margin-bottom: 40px;
}

.intro-details .name{
    font-size: 30px;
    font-weight: 700;
    font-size: 60px
}

.title{
    font-size: 20px;
}

.buttons form input:hover{
    background: #151542;
}

.return-btn{
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return-btn a{
    font-size: 20px;
    padding: 6px 30px;
    text-decoration: none;
    background: #15156b;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}










