.content {
    margin-top: -100px;
    padding-top: -100px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #fff;
}

.post-title h1{
    font-size: 50px;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin: 50px 300px 0 300px;
}

.small-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.intro-details p{
    padding: 5px 0;
    margin-bottom: 40px;
}

.intro-details .name{
    font-size: 30px;
    font-weight: 700;
    font-size: 60px
}

.title{
    font-size: 16px;
}

.date-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bolder;
}

.buttons form input:hover{
    background: #151542;
}

.return a{
    color: blue;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
}

.text .title{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 1.6;  
}
.text .title::first-letter {
    font-size: 100px;  
    font-weight: bold;
    margin-right: 10px;
    float: left; 
    line-height: 1;  
}
.title p {
    text-indent: 0;  
}


.footer {
    background-color: black;
    color: #fefefe;
    position: relative;
    width: 100%;
    bottom: 0;
}

.info{
    padding-left: 100px;
}

.info img{
    width: 80px;
    height: 80px;
}

.info-text p{
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; 
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.customer-service{   
    padding-top: 30px;
    padding-left: 400px;
}

.customer-service-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.footer .footer-content a {
    text-decoration: none;
    color: #fefefe;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;  
}

.policy{
    padding-top: 30px;
    padding-right: 100px;
}

.policy-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
