.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 600px;
    position: relative;
    margin: 0 auto 10px; /* Center the container */
    margin-top: 0px;
}

.progress-bar {
    position: absolute;
    top: 27%;
    left: 12.5%;
    width: 75%;
    height: 6px;
    background-color: #e0e0e0;
    z-index: 1;
    transform: translateY(-50%);
    border-radius: 3px;
   
}

.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
    border-radius: 3px;
    z-index: 2;
}

.step {
    width: 25%;
    text-align: center;
    z-index: 3;
    position: relative;
}

.step::before {
    content: '✗';
    display: block;
    width: 24px;
    height: 24px;
    background-color: #e0e0e0;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 4;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    line-height: 24px;
    font-size: 16px;
    color: #666;
    font-weight: bold;
    text-align: center;    
}

.step-active::before {
    content: '✓';
    background-color: #4caf50;
    color: #fff;
    box-shadow: 0 0 0 4px rgb(27, 122, 0); /* Outer green border with a gap */
    border-color: #4caf50; /* Add green border when active */
}

.step .step-counter {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}

#status {
    font-size: 1.5em;
    color: #333;
}

.progress-bar::before {
    width: var(--progress-width, 0);
}
