@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/*
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-bottom: 100px;
    box-sizing: border-box;
    flex-direction: row;
} 

.navbar img{
    width: 80px;
    height: 80px;
}

.navbar__link{
    list-style: none;
    padding: 0 40px;
}

.navbar__link a{
    text-decoration: none;
    margin: 27.5px 0 30.5px 0;
    padding: 0 10px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}*/


.btn-custom {
    width: 120px;
    height: auto;
    background: #15156b;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f9f9fa;
}

.padding {
    padding: 3rem !important;
}

.user-card-full {
    overflow: hidden;
    transform: scale(1.2); /* Phóng to toàn bộ phần thông tin cá nhân */
}

.card {
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.user-card-full .user-profile {
    border-radius: 10px 0 0 10px;
}

.bg-c-lite-green {
    background: linear-gradient(to right, #0f0f2f, #27277c);
}

.user-profile {
    padding: 40px 0;
}

.card-block {
    padding: 2.5rem;
}

.img-radius {
    border-radius: 10px;
}

h6 {
    font-size: 18px;
}

.text-muted {
    color: #919aa3 !important;
}

.f-w-600 {
    font-weight: 600;
}

f-w-400{
    margin-bottom: 10px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 40px;
}

.social-link {
    margin-top: 40px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.m-t-40 {
    margin-top: 40px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

h2{
    color: #151542 !important;
    font-weight: 700 !important;
}

p{
    font-family: 'Inter';
    color: #151542;
}

.container{
    margin-top: 40px;
}

input{
    width: 80%;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

