body{
    margin: 0;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

h3 {
    font-size: 14px;
}

.text-navy {
    color: #1ab394;
}

.m-t-sm form a{
    color: #6c757d;
}

.ibox-content h2{
    width: 400px;
    font-size: 28px;
}

.btn-large {
    padding: 10px 20px;
    font-size: 1.25rem;
}

.product-imitation.xl {
    padding: 120px 0;
}

.product-desc {
    padding: 20px;
    position: relative;
}

.ecommerce .tag-list {
    padding: 0;
}

.ecommerce .fa-star {
    color: #d1dade;
}

.ecommerce .fa-star.active {
    color: #f8ac59;
}

.ecommerce .note-editor {
    border: 1px solid #e7eaec;
}

table.shoping-cart-table {
    margin-bottom: 0;
}

table.shoping-cart-table tr td {
    border: none;
    text-align: right;
}

table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
    text-align: left;
}

table.shoping-cart-table tr td:last-child {
    width: 400px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox.collapsed .ibox-content {
    display: none;
}

.ibox:after,
.ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.ibox-content .purchase{
    margin-top: 10px;
}

.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.col-md-9 .ibox-content{
    margin-bottom: 20px;
}

.footer {
    background-color: black;
    color: #fefefe;
    position: relative;
    width: 100%;
    bottom: 0;
}

.info{
    padding-left: 100px;
}

info-img{
    margin-left: 60px;
}

.info img{
    width: 80px;
    height: 80px;
}

.info-text p{
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif; 
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.customer-service{   
    padding-top: 30px;
    padding-left: 400px;
}

.customer-service-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.footer .footer-content a {
    text-decoration: none;
    color: #fefefe;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;  
}

.policy{
    padding-top: 30px;
    padding-right: 100px;
}

.policy-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}