@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 10px 0;
  margin-bottom: 0;
  max-width: 1920px;
}

.navbar img {
  width: 80px;
  height: 80px;
}

.navbar__link {
  list-style: none;
  padding: 0 40px;
}

.navbar__link a {
  text-decoration: none;
  margin: 27.5px 0 30.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}



#button1 {
  margin-right: 10px;
}

#learn-more {
  text-decoration: none;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 40px;
  margin-bottom: 30%;
}

h1 {
  font-family: Inter, 'sans-serif';
  color: #151542;
  font-size: 40px;
}

.heading1 {
  color: inherit;
  padding-left: 40px;
  margin-right: 50px;
  padding-right: 5%;
}

.container {
  display: flex;
  width: auto;
  margin: 0 10%;
  margin-bottom: 50px;
}

.list {
  margin-top: 10px;
  padding-left: 20px;
  list-style: none;
}

.list a {
  text-decoration: none;
  color: #151542;
  display: block;
  margin-bottom: 10px;
  font-family: Inter;
  font-size: 16px;
}

.info-list li{
  list-style-type: disc;
  font-family: 'Times New Roman', Times, serif !important;
  color: #151542;
  margin-left: 20px;
  margin-bottom: 10px;
}

.color-image img{
  margin-top: 40px;
}

.certi-detail {
  flex: 1;
  padding: 20px;
}

li {
  list-style-type: none;
  font-family: Inter;
}

a {
  text-decoration: none;
  color: #151542;
}

b{
  color: #151542;
}

h3 {
  font-size: 25px !important;
  font-family: Inter;
  color: #151542;
}

#Cert_link a {
  margin-top: 40px;
}

#Cert_link :hover {
  text-decoration: underline;
}

.content {
  padding-right: 10%;
  padding-left: 40px
}

.content p {
  margin-left: 15px;
}

.content-title {
  font-family: Inter;
  color: #151542;
  font-size: 20px;
  font-weight: bold;
  margin: 40px auto;
}

.ring-image{
  display: flex;
}

.ring-image img{
  margin: 20px 50px;
  width: 450px;
}

.small-detail {
  margin: 20px auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
}

.small-detail li{
  list-style-type: disc;
  font-family: 'Times New Roman', Times, serif !important;
  color: #151542;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.list-learnMore li {
  font-size: 15px;
  margin-left: 40px;
  list-style-type: disc;
}

.footer {
  background-color: black;
  color: #fefefe;
  position: relative;
  width: 100%;
  bottom: 0;
}

.info {
  padding-left: 100px;
}

info-img {
  margin-left: 60px;
}

.info img {
  width: 80px;
  height: 80px;
}

.info-text p {
  color: white;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.customer-service {
  padding-top: 30px;
  padding-left: 400px;
}

.customer-service-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.footer .footer-content a {
  text-decoration: none;
  color: #fefefe;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

.policy {
  padding-top: 30px;
  padding-right: 100px;
}

.policy-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.Next {
  font-size: 20px;
  font-weight: bold;
  color: #151542;
  margin: 40px auto;
  cursor: pointer;

}

.Next :hover {
  text-decoration: underline;
}

body{
  font-size: 15px;
}

.answer-list{
  margin-left: 30px;
}

i{
  margin-left: 10px;
}

img{
  width: 100%;
  height: auto;
}