.login-form {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container {
	z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
	background: #cecccc;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 450px;
}

.main {
    display: flex;
    width: 100%;
}

.left-side {
    flex: 1;
    max-width: 40%;
    text-align: center;
    color: black;
	height: 430px;
	padding-top: 20px;
}

.left-side h2 {
    font-size: 24px;
}

.left-side img {
    margin-top: 20px;
    max-width: 100%;
}

.right-side {
    flex: 1;
    max-width: 60%;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-side h2 {
    margin-bottom: 20px;
}

.right-side input {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.right-side .btn {
    width: 100%;
    padding: 10px;
    background: #4e34b6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.right-side .btn-google {
    width: 100%;
    padding: 10px;
    background: #DB4437;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.right-side p {
    text-align: center;
    margin-top: 10px;
}

.right-side a {
    color: #4e34b6;
    text-decoration: none;
}

.right-side a:hover {
    text-decoration: underline;
}

#img1 {
    position: relative;
    bottom: 0;
    left: 20%;
    max-width: 200px; 
	transform: rotate(45deg);
}


.white-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.522);
    filter: blur(19px);
    border-radius: 100px;
	top: -10%;
	right: 65%;
	z-index: -1;
}

.grey-gradient{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(122, 120, 120, 0.522);
    filter: blur(19px);
    border-radius: 100px;
	top: 40%;
	right: 65%;
	z-index: -1;
}