<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLoginController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.ManagerLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.SalesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryStaffController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.DeliveryStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.PostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.VoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiamondPriceController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.DiamondPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RingPlacementPriceController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.RingPlacementPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarrantyController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.WarrantyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserPostController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.UserPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVoucherController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.UserVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCollectionController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.UserCollectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCategoryController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.UserCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestDiamondPriceController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.GuestDiamondPriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestPostController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.GuestPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestVoucherController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.GuestVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestProductController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.GuestProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestCollectionController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.GuestCollectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestCategoryController</servlet-name>
        <servlet-class>com.khac.swp.fuj.controller.GuestCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLoginController</servlet-name>
        <url-pattern>/managerlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesController</servlet-name>
        <url-pattern>/SalesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryStaffController</servlet-name>
        <url-pattern>/DeliveryStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/ManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostController</servlet-name>
        <url-pattern>/PostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherController</servlet-name>
        <url-pattern>/VoucherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiamondPriceController</servlet-name>
        <url-pattern>/DiamondPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RingPlacementPriceController</servlet-name>
        <url-pattern>/RingPlacementPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantyController</servlet-name>
        <url-pattern>/WarrantyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserPostController</servlet-name>
        <url-pattern>/UserPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVoucherController</servlet-name>
        <url-pattern>/UserVoucherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCollectionController</servlet-name>
        <url-pattern>/UserCollectionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCategoryController</servlet-name>
        <url-pattern>/UserCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestDiamondPriceController</servlet-name>
        <url-pattern>/GuestDiamondPriceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestPostController</servlet-name>
        <url-pattern>/GuestPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestVoucherController</servlet-name>
        <url-pattern>/GuestVoucherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestProductController</servlet-name>
        <url-pattern>/GuestProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestCollectionController</servlet-name>
        <url-pattern>/GuestCollectionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestCategoryController</servlet-name>
        <url-pattern>/GuestCategoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>guest_homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
